#nav_menu ul li {
        display: inline;
        list-style-type: none;
        margin-left: 5%;
        margin-right: 5%;
        color: white;
        
}
#nav_menu{
    text-align: center;
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,1));
    padding: 5px 0px 5px 0px;
    width: 100vw;
  }

a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url("pexels-adrien-olichon-2387793.jpg") transparent no-repeat center center / cover;
    height: 100vh;
    margin: 0;

}

#logo {
    background-image: url('Vykuntapuram\ logo\ white.png');
    margin: 15vh auto auto auto;
    width: 50%;
    height: 50%;
    background-size: cover;

}